# Basic imports

In [1]:
# Autoreload extension
if 'autoreload' not in get_ipython().extension_manager.loaded:
    %load_ext autoreload
%autoreload 2

In [2]:
import eugene as eu

from eugene.datasets import deBoer20
from eugene.models import DeepBind

Global seed set to 13
Global seed set to 13
Global seed set to 13

In [3]:
eu.settings.datasetdir = "../_data/datasets/"

In [4]:
eu.settings.datasetdir

PosixPath('/mnt/beegfs/users/aklie/projects/EUGENE/tests/_data/datasets')

# Download the deBoer20 dataset

In [10]:
sdata = deBoer20([0])

Dataset deBoer20 GSE104878_20160503_average_promoter_ELs_per_seq_atLeast100Counts.txt.gz has already been dowloaded.
Kept 9982 sequences with targets, dropped 0 sequences with no targets

In [9]:
sdata

SeqData object with = 19965 seqs
seqs = (19965,)
names = (19965,)
rev_seqs = None
ohe_seqs = None
ohe_rev_seqs = None
seqs_annot: 'TARGETS'
pos_annot: None
seqsm: None
uns: None

In [48]:
sdata = deBoer20(0)

Dataset deBoer20 GSE104878_20160503_average_promoter_ELs_per_seq_atLeast100Counts.csv.gz has already been dowloaded.
Kept 9982 sequences with targets, dropped 0 sequences with no targets

In [49]:
sdata = deBoer20(6)

Dataset deBoer20 GSE104878_20180808_processed_Native80_and_N80_spikein.csv.gz has already been dowloaded.
Kept 69240 sequences with targets, dropped 1684 sequences with no targets

In [46]:
sdata.seqs_annot

            TARGETS
seq00000  13.708592
seq00001   2.553335
seq00002  13.369969
seq00003   3.328683
seq00004  10.466688
...             ...
seq80900  14.220082
seq80901   6.978840
seq80902   3.917299
seq80903  16.012221
seq80905  14.126017

[79222 rows x 1 columns]

In [50]:
eu.pp.reverse_complement_data(sdata)
eu.pp.one_hot_encode_data(sdata)
sdata

SeqData object modified:
	rev_seqs: None -> 69240 rev_seqs added
SeqData object modified:
	ohe_seqs: None -> 69240 ohe_seqs added
	ohe_rev_seqs: None -> 69240 ohe_rev_seqs added

SeqData object with = 69240 seqs
seqs = (69240,)
names = (69240,)
rev_seqs = (69240,)
ohe_seqs = (69240, 120, 4)
ohe_rev_seqs = (69240, 120, 4)
seqs_annot: 'TARGETS'
pos_annot: None

In [51]:
len(sdata.seqs[2])

120

In [52]:
sdata = eu.datasets.random1000()

Kept 1000 sequences with targets, dropped 0 sequences with no targets

In [53]:
sdata.seqs_annot

         TARGETS
seq000  0.866168
seq001  0.800737
seq002  0.703108
seq003  0.465782
seq004  0.676781
...          ...
seq995  0.001721
seq996  0.617911
seq997  0.565960
seq998  0.293470
seq999  0.205779

[1000 rows x 1 columns]